html,
body {
  min-height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/bg-desktop-dark.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #1d2951;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    color: white;
    border: 1px solid royalblue;
    padding: 20px;
    font-size: 2em;
    
}
.todo-list-header{
    display: flex;
    align-items: center;
    gap: 3em;
    color: white;
}
.todo-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.todo-list-title{
    color: white;
    font-size: 2em;
}
.todo-white-circle{
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 100%;
}

.todo-list-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    min-width: 100%;
    min-height: 100%;
}

.todo-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
    align-self: center;
    
}
.todo-list-form{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}
.todo-input{

    padding: 5px;
    font-size:2em;
    color: white;
    background-color: #1d2951;
    border: 1px solid white;
    cursor: pointer;
}
.todo-submit{
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
    color: white;
    background-color: blueviolet;
    border:1px solid blueviolet
}
.todo-submit:hover,todo-submit:focus-within{
    border: 1px solid white;
}

.todo-list{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.line{
    text-decoration: line-through;
}